In [5]:
import pandas as pd

df = pd.read_csv(r"data\title_principals.csv")

In [6]:
df

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,NaN,"[""Self""]"
1,tt0000001,2,nm0005690,director,NaN,NaN
2,tt0000001,3,nm0005690,producer,producer,NaN
3,tt0000001,4,nm0374658,cinematographer,director of photography,NaN
4,tt0000002,1,nm0721526,director,NaN,NaN
...,...,...,...,...,...,...
91343761,tt9916880,17,nm0996406,director,principal director,NaN
91343762,tt9916880,18,nm1482639,writer,NaN,NaN
91343763,tt9916880,19,nm2586970,writer,books,NaN
91343764,tt9916880,20,nm1594058,producer,producer,NaN
91343765,tt9916880,21,nm1482639,producer,producer,NaN

In [13]:
df.iloc[55]

tconst        tt0000013
ordering              3
nconst        nm0525910
category       director
job                 NaN
characters          NaN
Name: 55, dtype: object

In [14]:
df.iloc[16058996]

tconst                  tt10946360
ordering                         1
nconst                   nm3167650
category                      self
job                            NaN
characters    ["Self - Presenter"]
Name: 16058996, dtype: object

In [15]:
df.iloc[82184649]

tconst                                                tt7683858
ordering                                                     19
nconst                                                nm0594186
category                                               director
job           director: "Thomas and Percy's Mountain Adventu...
characters                                                  NaN
Name: 82184649, dtype: object

In [16]:
df.iloc[82184660]

tconst                                                tt7683858
ordering                                                     30
nconst                                                nm1685707
category                                                 editor
job           editor: "Thomas' Christmas Party" and "Terence...
characters                                                  NaN
Name: 82184660, dtype: object